[submodule "awesome/bling"]
	path = awesome/bling
	url = https://github.com/BlingCorp/bling
[submodule "qutebrowser/rosepine"]
	path = qutebrowser/rosepine
	url = https://github.com/aalbegr/qutebrowser-rose-pine
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain
